<a href="https://colab.research.google.com/github/aswinudhesh/Data-Analytics/blob/main/MP_6_EBOLA_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PART II

In [1]:
import pandas as pd
from tabulate import tabulate

df1 = pd.read_csv('/content/song.csv')
print(tabulate(df1, headers='keys', tablefmt='psql'))

+----+--------------+--------+--------+
|    | song_title   |   rank |   year |
|----+--------------+--------+--------|
|  0 | Mysong1      |      1 |   2012 |
|  1 | Mysong1      |      1 |   2013 |
|  2 | Mysong1      |      2 |   2014 |
|  3 | Mysong1      |      3 |   2015 |
|  4 | Mysong2      |      2 |   2012 |
|  5 | Mysong2      |      2 |   2013 |
|  6 | Mysong2      |      1 |   2014 |
|  7 | Mysong2      |      2 |   2015 |
|  8 | Mysong3      |      3 |   2012 |
|  9 | Mysong3      |      3 |   2013 |
+----+--------------+--------+--------+

In [2]:
print(df1.columns)

Index(['song_title', 'rank', 'year'], dtype='object')

1) Read "song.csv" into a dataframe and then produce the following output. Write Output For Ranked Songs By its Highest Frequency.


*Whichever song won a particular rank (say 2) with maximum frequency takes that place. For example, Mysong1 won rank 1 for two different years (achieved maximum frequency for that particular rank) and so in output (see row 1 in Output expected below), it should appear as Mysong1 with rank 1 and count 2.. (Note. in the same year, now two songs have same rank.) *

In [3]:
rank_counts = df1.groupby(['song_title', 'rank']).size().reset_index(name='Count')
max_rank_counts = rank_counts.loc[rank_counts.groupby('rank')['Count'].idxmax()]
print(tabulate(max_rank_counts, headers='keys', tablefmt='psql'))

+----+--------------+--------+---------+
|    | song_title   |   rank |   Count |
|----+--------------+--------+---------|
|  0 | Mysong1      |      1 |       2 |
|  4 | Mysong2      |      2 |       3 |
|  5 | Mysong3      |      3 |       2 |
+----+--------------+--------+---------+

2)House Price Prediction task


Pre-processing: Convert non-numeric columns (mainroad, guestroom, basement, hotwaterheating, airconditioning) to numeric using one-hot encoding if the column values are not interrelated. If column values are related, need to use ordinal encoding.

In [5]:
df = pd.read_csv('/content/Housing.csv')
print(tabulate(df.head(10), headers='keys', tablefmt='psql'))
categorical_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

+----+----------+--------+------------+-------------+-----------+------------+-------------+------------+-------------------+-------------------+-----------+------------+--------------------+
|    |    price |   area |   bedrooms |   bathrooms |   stories | mainroad   | guestroom   | basement   | hotwaterheating   | airconditioning   |   parking | prefarea   | furnishingstatus   |
|----+----------+--------+------------+-------------+-----------+------------+-------------+------------+-------------------+-------------------+-----------+------------+--------------------|
|  0 | 13300000 |   7420 |          4 |           2 |         3 | yes        | no          | no         | no                | yes               |         2 | yes        | furnished          |
|  1 | 12250000 |   8960 |          4 |           4 |         4 | yes        | no          | no         | no                | yes               |         3 | no         | furnished          |
|  2 | 12250000 |   9960 |          3 |           2 |         2 | yes        | no          | yes        | no                | no                |         2 | yes        | semi-furnished     |
|  3 | 12215000 |   7500 |          4 |           2 |         2 | yes        | no          | yes        | no                | yes               |         3 | yes        | furnished          |
|  4 | 11410000 |   7420 |          4 |           1 |         2 | yes        | yes         | yes        | no                | yes               |         2 | no         | furnished          |
|  5 | 10850000 |   7500 |          3 |           3 |         1 | yes        | no          | yes        | no                | yes               |         2 | yes        | semi-furnished     |
|  6 | 10150000 |   8580 |          4 |           3 |         4 | yes        | no          | no         | no                | yes               |         2 | yes        | semi-furnished     |
|  7 | 10150000 |  16200 |          5 |           3 |         2 | yes        | no          | no         | no                | no                |         0 | no         | unfurnished        |
|  8 |  9870000 |   8100 |          4 |           1 |         2 | yes        | yes         | yes        | no                | yes               |         2 | yes        | furnished          |
|  9 |  9800000 |   5750 |          3 |           2 |         4 | yes        | yes         | no         | no                | yes               |         1 | yes        | unfurnished        |
+----+----------+--------+------------+-------------+-----------+------------+-------------+------------+-------------------+-------------------+-----------+------------+--------------------+

3) Create three equal-size buckets of House Price data. Bin the data into 3 quantiles (new column: quantile) of 'low', 'medium', 'high' based on "price" column in the House Price dataset.

In [6]:
df['quantile'] = pd.qcut(df['price'], q=3, labels=['low', 'medium', 'high'])
print(tabulate(df.head(10), headers='keys', tablefmt='psql'))

+----+----------+--------+------------+-------------+-----------+-----------+------------+--------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------+
|    |    price |   area |   bedrooms |   bathrooms |   stories |   parking | prefarea   | furnishingstatus   | mainroad_yes   | guestroom_yes   | basement_yes   | hotwaterheating_yes   | airconditioning_yes   | quantile   |
|----+----------+--------+------------+-------------+-----------+-----------+------------+--------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------|
|  0 | 13300000 |   7420 |          4 |           2 |         3 |         2 | yes        | furnished          | True           | False           | False          | False                 | True                  | high       |
|  1 | 12250000 |   8960 |          4 |           4 |         4 |         3 | no         | furnished          | True           | False           | False          | False                 | True                  | high       |
|  2 | 12250000 |   9960 |          3 |           2 |         2 |         2 | yes        | semi-furnished     | True           | False           | True           | False                 | False                 | high       |
|  3 | 12215000 |   7500 |          4 |           2 |         2 |         3 | yes        | furnished          | True           | False           | True           | False                 | True                  | high       |
|  4 | 11410000 |   7420 |          4 |           1 |         2 |         2 | no         | furnished          | True           | True            | True           | False                 | True                  | high       |
|  5 | 10850000 |   7500 |          3 |           3 |         1 |         2 | yes        | semi-furnished     | True           | False           | True           | False                 | True                  | high       |
|  6 | 10150000 |   8580 |          4 |           3 |         4 |         2 | yes        | semi-furnished     | True           | False           | False          | False                 | True                  | high       |
|  7 | 10150000 |  16200 |          5 |           3 |         2 |         0 | no         | unfurnished        | True           | False           | False          | False                 | False                 | high       |
|  8 |  9870000 |   8100 |          4 |           1 |         2 |         2 | yes        | furnished          | True           | True            | True           | False                 | True                  | high       |
|  9 |  9800000 |   5750 |          3 |           2 |         4 |         1 | yes        | unfurnished        | True           | True            | False          | False                 | True                  | high       |
+----+----------+--------+------------+-------------+-----------+-----------+------------+--------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------+