<a href="https://colab.research.google.com/github/aswinudhesh/Data-Analytics/blob/main/Human_Resources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from tabulate import tabulate
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import pandas as pd
df = pd.read_csv("/content/HR_comma_sep.csv")
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
df.insert(0, 'S.No', range(1, 1 + len(df)))
print(tabulate(df.head(10), headers='keys', tablefmt='grid', showindex=True))

+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|    |   S.No |   satisfaction_level |   last_evaluation |   number_project |   average_montly_hours |   time_spend_company |   Work_accident |   left |   promotion_last_5years | sales   | salary   |
+====+========+======================+===================+==================+========================+======================+=================+========+=========================+=========+==========+
|  0 |      1 |                 0.38 |              0.53 |                2 |                    157 |                    3 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  1 |      2 |                 0.8  |              0.86 |                5 |                    262 |                    6 |               0 |      1 |                       0 | sales   | medium   |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  2 |      3 |                 0.11 |              0.88 |                7 |                    272 |                    4 |               0 |      1 |                       0 | sales   | medium   |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  3 |      4 |                 0.72 |              0.87 |                5 |                    223 |                    5 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  4 |      5 |                 0.37 |              0.52 |                2 |                    159 |                    3 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  5 |      6 |                 0.41 |              0.5  |                2 |                    153 |                    3 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  6 |      7 |                 0.1  |              0.77 |                6 |                    247 |                    4 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  7 |      8 |                 0.92 |              0.85 |                5 |                    259 |                    5 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  8 |      9 |                 0.89 |              1    |                5 |                    224 |                    5 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+
|  9 |     10 |                 0.42 |              0.53 |                2 |                    142 |                    3 |               0 |      1 |                       0 | sales   | low      |
+----+--------+----------------------+-------------------+------------------+------------------------+----------------------+-----------------+--------+-------------------------+---------+----------+

# 1.How many employees in each of the department

In [ ]:
department_employee_count = df.groupby('sales')['S.No'].count().reset_index()
department_employee_count = department_employee_count.rename(columns={'S.No': 'num_employees'})
department_employee_count = department_employee_count.sort_values('num_employees', ascending=True)
print(tabulate(department_employee_count, headers='keys', tablefmt='grid', showindex=True))

+----+-------------+-----------------+
|    | sales       |   num_employees |
+====+=============+=================+
|  4 | management  |             630 |
+----+-------------+-----------------+
|  3 | hr          |             739 |
+----+-------------+-----------------+
|  2 | accounting  |             767 |
+----+-------------+-----------------+
|  1 | RandD       |             787 |
+----+-------------+-----------------+
|  5 | marketing   |             858 |
+----+-------------+-----------------+
|  6 | product_mng |             902 |
+----+-------------+-----------------+
|  0 | IT          |            1227 |
+----+-------------+-----------------+
|  8 | support     |            2229 |
+----+-------------+-----------------+
|  9 | technical   |            2720 |
+----+-------------+-----------------+
|  7 | sales       |            4140 |
+----+-------------+-----------------+

# 2.Among employees who left, get the department wise, number of employees and rank them.

In [ ]:
print("The table below should show rank from 1 to 10 in ascending order having rank 1 on the top.")
left_employees = df[df['left'] == 1]
department_left_employee_count = left_employees.groupby('sales')['S.No'].count().reset_index()
department_left_employee_count = department_left_employee_count.rename(columns={'S.No': 'num_employees'})
department_left_employee_count['rank'] = department_left_employee_count['num_employees'].rank(ascending=False)
department_left_employee_count = department_left_employee_count.sort_index(ascending=True)
print(tabulate(department_left_employee_count, headers='keys', tablefmt='grid', showindex=True))

The table below should show rank from 1 to 10 in ascending order having rank 1 on the top.
+----+-------------+-----------------+--------+
|    | sales       |   num_employees |   rank |
+====+=============+=================+========+
|  0 | IT          |             273 |      4 |
+----+-------------+-----------------+--------+
|  1 | RandD       |             121 |      9 |
+----+-------------+-----------------+--------+
|  2 | accounting  |             204 |      6 |
+----+-------------+-----------------+--------+
|  3 | hr          |             215 |      5 |
+----+-------------+-----------------+--------+
|  4 | management  |              91 |     10 |
+----+-------------+-----------------+--------+
|  5 | marketing   |             203 |      7 |
+----+-------------+-----------------+--------+
|  6 | product_mng |             198 |      8 |
+----+-------------+-----------------+--------+
|  7 | sales       |            1014 |      1 |
+----+-------------+-----------------+--------+
|  8 | support     |             555 |      3 |
+----+-------------+-----------------+--------+
|  9 | technical   |             697 |      2 |
+----+-------------+-----------------+--------+

# 3.Average number of years (time_spend_company) and average number of monthly hours (average_monthly_hours) for the employees left and not left under each department. Sort the value by sales.

In [ ]:
avg_time_spend_company_and_hours = df.groupby(['left', 'sales'])[['time_spend_company', 'average_montly_hours']].mean().reset_index()
avg_time_spend_company_and_hours = avg_time_spend_company_and_hours.rename(columns={'time_spend_company': 'avg_time_spend_company', 'average_montly_hours': 'avg_average_monthly_hours'})
avg_time_spend_company_and_hours = avg_time_spend_company_and_hours.sort_values(['sales'], ascending=True)
avg_time_spend_company_and_hours = avg_time_spend_company_and_hours.sort_index(ascending=True)
print(tabulate(avg_time_spend_company_and_hours, headers='keys', tablefmt='grid', showindex=True))

+----+--------+-------------+--------------------------+-----------------------------+
|    |   left | sales       |   avg_time_spend_company |   avg_average_monthly_hours |
+====+========+=============+==========================+=============================+
|  0 |      0 | IT          |                  3.35639 |                     198.887 |
+----+--------+-------------+--------------------------+-----------------------------+
|  1 |      0 | RandD       |                  3.25225 |                     198.952 |
+----+--------+-------------+--------------------------+-----------------------------+
|  2 |      0 | accounting  |                  3.42451 |                     199.037 |
+----+--------+-------------+--------------------------+-----------------------------+
|  3 |      0 | hr          |                  3.19275 |                     199.25  |
+----+--------+-------------+--------------------------+-----------------------------+
|  4 |      0 | management  |                  4.39518 |                     200.234 |
+----+--------+-------------+--------------------------+-----------------------------+
|  5 |      0 | marketing   |                  3.48092 |                     198.889 |
+----+--------+-------------+--------------------------+-----------------------------+
|  6 |      0 | product_mng |                  3.33097 |                     197.766 |
+----+--------+-------------+--------------------------+-----------------------------+
|  7 |      0 | sales       |                  3.4437  |                     199.572 |
+----+--------+-------------+--------------------------+-----------------------------+
|  8 |      0 | support     |                  3.21386 |                     199.141 |
+----+--------+-------------+--------------------------+-----------------------------+
|  9 |      0 | technical   |                  3.22244 |                     198.471 |
+----+--------+-------------+--------------------------+-----------------------------+
| 10 |      1 | IT          |                  3.86081 |                     213.85  |
+----+--------+-------------+--------------------------+-----------------------------+
| 11 |      1 | RandD       |                  4       |                     210.975 |
+----+--------+-------------+--------------------------+-----------------------------+
| 12 |      1 | accounting  |                  3.79412 |                     207.029 |
+----+--------+-------------+--------------------------+-----------------------------+
| 13 |      1 | hr          |                  3.75349 |                     197.307 |
+----+--------+-------------+--------------------------+-----------------------------+
| 14 |      1 | management  |                  3.75824 |                     207.264 |
+----+--------+-------------+--------------------------+-----------------------------+
| 15 |      1 | marketing   |                  3.85714 |                     200.99  |
+----+--------+-------------+--------------------------+-----------------------------+
| 16 |      1 | product_mng |                  3.9899  |                     207.788 |
+----+--------+-------------+--------------------------+-----------------------------+
| 17 |      1 | sales       |                  3.81262 |                     205.041 |
+----+--------+-------------+--------------------------+-----------------------------+
| 18 |      1 | support     |                  3.93333 |                     205.636 |
+----+--------+-------------+--------------------------+-----------------------------+
| 19 |      1 | technical   |                  3.95983 |                     214.184 |
+----+--------+-------------+--------------------------+-----------------------------+

#4) Under each department, what is the minimum and maximum for both left and not left employees related to time_spend_company and average_monthly_hours. Sort the value by sales.

In [3]:
avg_time_hours = df.groupby(['sales', 'left']).agg(
    avg_time_spend_company=('time_spend_company', 'mean'),
    avg_average_monthly_hours=('average_montly_hours', 'mean')
).reset_index()
heatmap_data = avg_time_hours.pivot(index='sales', columns='left', values=['avg_time_spend_company', 'avg_average_monthly_hours'])

heatmap_data_reset = heatmap_data.reset_index()

heatmap_data_reset.insert(0, 'Serial No', range(1, len(heatmap_data_reset) + 1))

print("\nHeatmap Data for Average Time Spent and Monthly Hours by Department and Left Status")
print(tabulate(heatmap_data_reset, headers='keys', tablefmt='grid', showindex=False))

Heatmap Data for Average Time Spent and Monthly Hours by Department and Left Status
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|   ('Serial No', '') | ('sales', '')   |   ('avg_time_spend_company', 0) |   ('avg_time_spend_company', 1) |   ('avg_average_monthly_hours', 0) |   ('avg_average_monthly_hours', 1) |
+=====================+=================+=================================+=================================+====================================+====================================+
|                   1 | IT              |                         3.35639 |                         3.86081 |                            198.887 |                            213.85  |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   2 | RandD           |                         3.25225 |                         4       |                            198.952 |                            210.975 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   3 | accounting      |                         3.42451 |                         3.79412 |                            199.037 |                            207.029 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   4 | hr              |                         3.19275 |                         3.75349 |                            199.25  |                            197.307 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   5 | management      |                         4.39518 |                         3.75824 |                            200.234 |                            207.264 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   6 | marketing       |                         3.48092 |                         3.85714 |                            198.889 |                            200.99  |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   7 | product_mng     |                         3.33097 |                         3.9899  |                            197.766 |                            207.788 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   8 | sales           |                         3.4437  |                         3.81262 |                            199.572 |                            205.041 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                   9 | support         |                         3.21386 |                         3.93333 |                            199.141 |                            205.636 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+
|                  10 | technical       |                         3.22244 |                         3.95983 |                            198.471 |                            214.184 |
+---------------------+-----------------+---------------------------------+---------------------------------+------------------------------------+------------------------------------+

# 5) Under each department, what is the minimum, maximum, average on last evaluation (last_evaluation) and satisfaction level (satisfaction_level) for both left and not left. Sort the value by sales.

In [4]:
min_max_avg_evaluation_satisfaction = df.groupby(['sales', 'left']).agg(
    min_last_evaluation=('last_evaluation', 'min'),
    max_last_evaluation=('last_evaluation', 'max'),
    avg_last_evaluation=('last_evaluation', 'mean'),
    min_satisfaction_level=('satisfaction_level', 'min'),
    max_satisfaction_level=('satisfaction_level', 'max'),
    avg_satisfaction_level=('satisfaction_level', 'mean')
).reset_index()


min_max_avg_evaluation_satisfaction_reset = min_max_avg_evaluation_satisfaction.reset_index()

min_max_avg_evaluation_satisfaction_reset.insert(0, 'Serial No', range(1, len(min_max_avg_evaluation_satisfaction_reset) + 1))

print(tabulate(min_max_avg_evaluation_satisfaction_reset, headers='keys', tablefmt='grid', showindex=False))

+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|   Serial No |   index | sales       |   left |   min_last_evaluation |   max_last_evaluation |   avg_last_evaluation |   min_satisfaction_level |   max_satisfaction_level |   avg_satisfaction_level |
+=============+=========+=============+========+=======================+=======================+=======================+==========================+==========================+==========================+
|           1 |       0 | IT          |      0 |                  0.37 |                     1 |              0.71305  |                     0.12 |                     1    |                 0.67717  |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           2 |       1 | IT          |      1 |                  0.45 |                     1 |              0.730037 |                     0.09 |                     0.92 |                 0.411868 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           3 |       2 | RandD       |      0 |                  0.36 |                     1 |              0.706081 |                     0.12 |                     1    |                 0.653799 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           4 |       3 | RandD       |      1 |                  0.46 |                     1 |              0.745372 |                     0.09 |                     0.92 |                 0.43281  |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           5 |       4 | accounting  |      0 |                  0.36 |                     1 |              0.726128 |                     0.12 |                     1    |                 0.647211 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           6 |       5 | accounting  |      1 |                  0.45 |                     1 |              0.69451  |                     0.09 |                     0.91 |                 0.402598 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           7 |       6 | hr          |      0 |                  0.37 |                     1 |              0.720802 |                     0.13 |                     1    |                 0.666679 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           8 |       7 | hr          |      1 |                  0.45 |                     1 |              0.679721 |                     0.09 |                     0.91 |                 0.433395 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|           9 |       8 | management  |      0 |                  0.37 |                     1 |              0.723451 |                     0.12 |                     1    |                 0.654861 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          10 |       9 | management  |      1 |                  0.46 |                     1 |              0.727253 |                     0.09 |                     0.9  |                 0.422857 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          11 |      10 | marketing   |      0 |                  0.36 |                     1 |              0.723282 |                     0.12 |                     1    |                 0.669878 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          12 |      11 | marketing   |      1 |                  0.45 |                     1 |              0.69202  |                     0.09 |                     0.9  |                 0.453153 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          13 |      12 | product_mng |      0 |                  0.36 |                     1 |              0.711435 |                     0.13 |                     1    |                 0.658466 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          14 |      13 | product_mng |      1 |                  0.45 |                     1 |              0.726566 |                     0.09 |                     0.91 |                 0.481566 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          15 |      14 | sales       |      0 |                  0.36 |                     1 |              0.709223 |                     0.12 |                     1    |                 0.668548 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          16 |      15 | sales       |      1 |                  0.45 |                     1 |              0.711243 |                     0.09 |                     0.92 |                 0.447663 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          17 |      16 | support     |      0 |                  0.36 |                     1 |              0.721714 |                     0.12 |                     1    |                 0.673799 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          18 |      17 | support     |      1 |                  0.45 |                     1 |              0.727315 |                     0.09 |                     0.91 |                 0.450901 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          19 |      18 | technical   |      0 |                  0.36 |                     1 |              0.716609 |                     0.12 |                     1    |                 0.668319 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+
|          20 |      19 | technical   |      1 |                  0.45 |                     1 |              0.734132 |                     0.09 |                     0.92 |                 0.432525 |
+-------------+---------+-------------+--------+-----------------------+-----------------------+-----------------------+--------------------------+--------------------------+--------------------------+

# 6) Under each department, what is the total count (sum) on work accidents (work_accident) and promotion for the last 5 years (promotion_last_5years) for both left and not left. Sort the value by sales.

In [5]:
total_work_accident_promotion = df.groupby(['left', 'sales'])[['Work_accident', 'promotion_last_5years']].sum().reset_index()
total_work_accident_promotion = total_work_accident_promotion.rename(columns={'Work_accident': 'count_work_accident', 'promotion_last_5years': 'count_promotion_last_5years'})
total_work_accident_promotion = total_work_accident_promotion.sort_values(['sales'], ascending=True)
total_work_accident_promotion = total_work_accident_promotion.sort_index(ascending=True)
print(tabulate(total_work_accident_promotion, headers='keys', tablefmt='grid', showindex=True))

+----+--------+-------------+-----------------------+-------------------------------+
|    |   left | sales       |   count_work_accident |   count_promotion_last_5years |
+====+========+=============+=======================+===============================+
|  0 |      0 | IT          |                   155 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
|  1 |      0 | RandD       |                   124 |                            27 |
+----+--------+-------------+-----------------------+-------------------------------+
|  2 |      0 | accounting  |                    87 |                            14 |
+----+--------+-------------+-----------------------+-------------------------------+
|  3 |      0 | hr          |                    82 |                            15 |
+----+--------+-------------+-----------------------+-------------------------------+
|  4 |      0 | management  |                    98 |                            66 |
+----+--------+-------------+-----------------------+-------------------------------+
|  5 |      0 | marketing   |                   128 |                            43 |
+----+--------+-------------+-----------------------+-------------------------------+
|  6 |      0 | product_mng |                   123 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
|  7 |      0 | sales       |                   541 |                            93 |
+----+--------+-------------+-----------------------+-------------------------------+
|  8 |      0 | support     |                   314 |                            17 |
+----+--------+-------------+-----------------------+-------------------------------+
|  9 |      0 | technical   |                   348 |                            25 |
+----+--------+-------------+-----------------------+-------------------------------+
| 10 |      1 | IT          |                     9 |                             3 |
+----+--------+-------------+-----------------------+-------------------------------+
| 11 |      1 | RandD       |                    10 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
| 12 |      1 | accounting  |                     9 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
| 13 |      1 | hr          |                     7 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
| 14 |      1 | management  |                     5 |                             3 |
+----+--------+-------------+-----------------------+-------------------------------+
| 15 |      1 | marketing   |                    10 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
| 16 |      1 | product_mng |                     9 |                             0 |
+----+--------+-------------+-----------------------+-------------------------------+
| 17 |      1 | sales       |                    46 |                             7 |
+----+--------+-------------+-----------------------+-------------------------------+
| 18 |      1 | support     |                    31 |                             3 |
+----+--------+-------------+-----------------------+-------------------------------+
| 19 |      1 | technical   |                    33 |                             3 |
+----+--------+-------------+-----------------------+-------------------------------+