<a href="https://colab.research.google.com/github/aswinudhesh/pythontutorial/blob/main/Cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST

In [ ]:
lst_names = []
lst_cities = ["kovi", "Karaikudi", "SFO", "Tokoyo"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
 print(val)
if "SFO" in lst_cities:
 print("yes")
else:
 print("no")

kovi
Karaikudi
SFO
Tokoyo
NYC
yes

SET

In [ ]:
set_names = ()
set_cities ={"Bangalore", "Chennai", "SFO", "Beijing"}
set_age = [10, 20]
print(set_cities)
print(set_age)

{'Chennai', 'SFO', 'Bangalore', 'Beijing'}
[10, 20]

DICTIONARY

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})

In [ ]:
for key, value in dict_data.items():
    print(key, ": ", value)

pet :  [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]

LEN () FUNCTION

In [ ]:
lst_pet_types = ["cat", "dog", "horse"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2

DATAFRAME

In [ ]:
import pandas as pd

lst_boy = {
    'stem_boys': [
        {'name': 'Aswin',},
        {'name': 'Loki', }
    ],
    'art_boys': [{'name': 'Maru',}]
}

data = []
for category, boys in lst_boy.items():
    for boy in boys:
        boy['category'] = category
        data.append(boy)

df = pd.DataFrame(data)

print(df)

    name   category
0  Aswin  stem_boys
1   Loki  stem_boys
2   Maru   art_boys

INNER JOINS

In [ ]:
lst_boy = {
    'stem_boys': [
        {'name': 'Aswin', 'age': 21},
        {'name': 'Loki', 'age': 15}
    ],
    'art_boys': [{'name': 'Maru', 'age': 12}]
}

data = []
for category, boys in lst_boy.items():
    for boy in boys:
        boy['category'] = category
        data.append(boy)

df = pd.DataFrame(data)

print(df)

    name  age   category
0  Aswin   21  stem_boys
1   Loki   15  stem_boys
2   Maru   12   art_boys

In [ ]:
import pandas as pd
data=pd.read_csv("data.csv")
data

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/